html,
body,
#root {
  height: 100%;
}

ul {
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

section {
  display: flex;
  justify-content: center;
  margin: 1rem auto;
}

form,
.media-object {
  background-color: #e2e2e2;
  padding: 1rem;
}

form > h4 {
  text-align: center;
}

.media-object-section:last-child {
  width: 100%;
  height: 100%;
  padding: 0px;
}

.media-object-details {
  font-size: 0.9rem;
}

.bold {
  font-weight: bold;
}

.red {
  color: red;
  font-weight: bold;
}

@media screen and (max-width: 639px) {
  form {
    margin: 1rem;
  }
}
